.container {
  width: 100%;
  height: 100vh;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container h1 {
  margin-bottom: 16px;
}

.container a {
  font-size: 18px;
  font-weight: 700;
}

.img{
  width: 72%;
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 24px;
  }

  .img {
    margin-top: 40px;
    width: 100%;
  }

  .container a {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
  }
}